/* Global Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --default-btn-background-color: #000072;
  --selected-btn-background-color: purple;
  --default-btn-font-color: white;
  --result-color: gray;
}

/* header styling */
header {
  height: 100px;
  margin: 20px;
  font-size: 20px;
}

.high-scores-link {
  float: left;
}

.high-scores-link a {
  color: var(--selected-btn-background-color);
  text-decoration: none;
}

.timer {
  float: right;
}

/* main styling, including common styling in main section */
main {
  margin: 20px auto;
}

main h1,
.question ul li {
  margin: 20px 0;
  font-size: 40px;
  font-weight: 700;
  list-style: none;
}

main p {
  margin: 10px 0;
  font-size: 20px;
  line-height: 1.2;
}

.btn {
  color: var(--default-btn-font-color);
  background-color: var(--default-btn-background-color);
}

/* start quiz screen */
.start-quiz-screen {
  display: none;
  text-align: center;
}

.start-quiz-btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 20px;
  /* width: 150px; */
  /* height: 50px; */
  border-radius: 10px;
}

/* quiz screen styling*/
.quiz-screen {
  /* display: none; */
  width: 50%;
  margin: auto;
}

.answer-choice {
  font-size: 20px;
  color: var(--default-btn-font-color);
  background-color: var(--default-btn-background-color);
  width: 400px;
  margin: 20px 0;
  padding: 10px 20px;
  line-height: 1.5;
  border-radius: 10px;
}

.result hr {
color: var(--result-color);
}

.result ul li {
  margin-top: 10px;
  list-style: none;
  font-size: 40px;
  font-style: italic;
  color: var(--result-color);
}

/* high-score screen styling */
.high-scores-screen {
  display: none;
}

/* footer styling */
footer p {
  font-size: 20px;
  text-align: center;
}
